<div>
{{#each weekDays as |weekDay|}}
<div class='week-day'>
 {{weekDay}}
</div>
{{/each}}
<br>
<table style="width:100%">
  {{#each currentMonthWeeks as |weeks|}}
    <tr>
      {{#each weeks as |day|}}
        {{#if day}}
          <th class='normal-date'>{{day}}</th>
        {{else}}
          <th class='invalid-date'></th>
        {{/if}}
      {{/each}}
    </tr>
  {{/each}}
</table>

</div>

{{!-- <button {{action "changePage"}}> Change page </button> --}}
